/sqlite_app/
/firebase_notes_app/
/chapter_9_map_app/
/Group_Project/
/.agents/
/.codex/

**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/build/
**/.idea/
**/*.iml
**/.gradle/
**/local.properties
**/Generated.xcconfig
**/flutter_export_environment.sh
**/GeneratedPluginRegistrant.*
**/ephemeral/
**/*.log
**/google-services.json
**/GoogleService-Info.plist
